@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --darkcyan: #5aa7a7;
  --lightcyan: #96d7c6;
  --greenyellow: #bac94a;
  --yellow: #e2d368;
  --blue: #6c8cbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.logo {
  padding: 40px 60px;
  padding-bottom: 0;
}

.logo a {
  display: block;
  width: 80px;
}

.logo img {
  width: 80px;
  height: auto;
  display: block;
}

section {
  height: calc(125vh - 52px);
  background: url("../images/wallpaper.png") no-repeat;
  background-size: cover;
}

.max-width {
  max-width: 1440px;
  height: 100%;
  padding: 0 80px;
  margin: auto;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.card {
  background: var(--lightcyan);
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  margin: 0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.8s 0.6s ease-out forwards;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 1;
}

.card .title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px;
}

.card .title h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 24px;
}

.card .title img {
  display: block;
  width: 50%;
  height: auto;
}

.card .input_field {
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}

.card .input_field span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  height: 100%;
  border-right: 1px solid var(--darkcyan);
  text-align: center;
  width: 30px;
}

.card .input_field span i {
  font-size: 16px;
  color: var(--darkcyan);
  padding-left: 2px;
}

.card .input_field input {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

.card input[type="number"],
.card input[type="text"],
.card input[type="date"] {
  width: 100%;
  padding: 8px 10px 9px 40px;
  height: 35px;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--darkcyan);
}

.card input[type="number"]:hover,
.card input[type="text"]:hover,
.card input[type="date"]:hover {
  background: #fafafa;
}

.card input[type="number"]:focus,
.card input[type="text"]:focus,
.card input[type="date"]:focus {
  -webkit-box-shadow: 0 0 2px 1px var(--darkcyan);
  box-shadow: 0 0 2px 1px var(--darkcyan);
  border: 1px solid var(--lightcyan);
  background: #fafafa;
  color: var(--darkcyan);
}

.card input[type="submit"] {
  background: var(--darkcyan);
  height: 45px;
  line-height: 35px;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card input[type="submit"]:hover {
  background: white;
  color: var(--darkcyan);
  border: 3px solid var(--darkcyan);
}

.card input[type="submit"]:focus {
  background: var(--lightcyan);
  color: white;
}

.select_option {
  background: white;
  font-family: "Cormorant Garamond", serif;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}

.select_option select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.select_option select::-ms-expand {
  display: none;
}

.select_option select:hover,
.select_option select:focus {
  color: black;
  background: white;
  border-color: 1px solid var(--darkcyan);
}

.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}

.select_option select:hover + .select_arrow,
.select_option select:focus + .select_arrow {
  border-top-color: #000000;
}

.navigator span a {
  color: var(--darkcyan);
  text-decoration: underline;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 700;
}

/* footer section styling */
footer {
  background-color: var(--darkcyan);
  padding: 14px 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
}

footer span a {
  color: var(--lightneon);
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  section {
    height: calc(100vh - 43.2px);
  }

  .max-width {
    padding: 0 40px;
    margin: auto;
  }

  .card {
    margin-top: 20px;
  }

  .card .col_half {
    width: 100%;
    float: none;
  }
  .bottom_row .col_half {
    width: 50%;
    float: left;
  }
  .card .row .col_half.last {
    border-left: none;
  }
  .remember_me {
    padding-bottom: 20px;
  }

  .select_option,
  .select_option select {
    font-size: 14px;
  }
  footer {
    padding: 14px 20px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=login.css.map */
